<template>
  <div id="lchoromap">
    <l-map
      :zoom="baseMapConfig.zoom"
      :center="baseMapConfig.center"
      :options="baseMapConfig.mapOptions">
      <l-tile-layer :url="baseMapConfig.tileUrl" :attribution="attribution"/>
      <l-control-attribution
        position="bottomright"
        prefix="Vue2Leaflet"/> 
      <l-geojson
        :geojson="polygonData.geojson"
        :options="geojsonOptions"
        ref="geolayer">
      </l-geojson>
<!--        <template slot-scope="props">-->
      <l-info-control
        :item="currentItem"
        :name="infoData.name"
        :measure="infoData.measure"
        :printed="infoData.extra"
        :title="infoData.title"
        placeholder="Hover over a region"/>
      <l-reference-chart
        :title="infoData.title"
        :colorScale="colourScale"
        position="topright"
        :min="min"
        :max="max"/>
    </l-map>
  </div>

</template>

<script charset="utf-8">
import {LMap, LTileLayer, LGeoJson, LControlAttribution} from 'vue2-leaflet'
import 'leaflet/dist/leaflet.css'
const chroma = require('../../node_modules/chroma-js')
const math = require('../../node_modules/mathjs')
import  ReferenceChart from './ReferenceChart'
import  InfoControl from './InfoControl'
//import { InfoControl, ReferenceChart, } from './vue-choropleth'

export default {
  name: 'LChoroMap',
  components: {
    'l-map': LMap,
    'l-tile-layer': LTileLayer,
    'l-control-attribution': LControlAttribution,
    'l-geojson': LGeoJson,
    'l-reference-chart': ReferenceChart,
    'l-info-control' : InfoControl
   },
  props: {
    baseMapConfig: Object,
    polygonData: Object,
    cdata: Array,
    colouringData: Object,
    mapStyling: Object,
    infoData: Object,
  },
  data () {
    let colourField = this.colouringData.colourField
    let min = this.mapStyling.min
    //console.log(L.Browser.touch)
    if (min == undefined) {
      min = math.min(
        this.cdata
        .filter(el => !isNaN(el[colourField]))
        .map(el => el[this.colouringData.colourField])
      )
    }
    let max = this.mapStyling.max
    if (max == undefined) {
      max = math.max(
         this.cdata
        .filter(el => !isNaN(el[colourField]))
        .map(el => el[this.colouringData.colourField])
      )
    }
    return {
      currentItem: null,
      colourScale: this.mapStyling.colours,
      min: min,
      max: max,
      geojsonOptions: {
        style: getColourData(
          this.colouringData.polygonIdField,
          this.polygonData.polygonIdField,
          this.cdata,
          this.colouringData.colourField,
          this.mapStyling.colours,
          min,
          max,
          this.mapStyling.passiveStrokeWidth
        ),
        onEachFeature: this.mouseStuff
      },
      attribution: this.baseMapConfig.attribution,
    }
  },
  methods: {
    mouseStuff: function(feature, layer) {
      layer.on({
        mouseover: mouseover.bind(this),
//        touchstart: mouseover.bind(this),
        mouseout: mouseout.bind(this),
//        touchend: mouseout.bind(this),
      })
    }

    /*
    //deferredMountedTo(parent) {
    //  this.parent = parent
    //  for (var i = 0; i < this.$children.length; i++) {
    //    if (typeof this.$children[i].deferredMountedTo === "function") {
    //      this.$children[i].deferredMountedTo(parent)
    //    }
    //  }
    //}
    */

  },

  /*
  //mounted() {
  //  if (this.$parent._isMounted) {
  //    this.deferredMountedTo(this.$parent.mapObject)
  //  } else {
  //    console.log("Parent not mounted!")
  //  }
  //},
  */

}

function getColourData(dataIdField, polygonIdField, data, colourField,
                       palette, min, max, passiveStrokeWidth) {
  var colourFeature = function (feature, emphasis=false) {
    var match = getMatch(dataIdField, feature.properties[polygonIdField], data)
    if (match == undefined) {
      return {
       color: "white",
       weight: passiveStrokeWidth
      }
    }
    var dataValue = data == undefined ? null : match[colourField]
    var colour = getColour(dataValue, palette, min, max,emphasis)
    return {
      color: colour,
      fillOpacity: emphasis ? 0.6 : 0.2,
      weight: passiveStrokeWidth
    }
  }
  return colourFeature
}

function mouseover({ target }) {
  target.setStyle(
    this.geojsonOptions.style(target.feature, true))
  //target.setStyle({
  //  weight: this.activeStrokeWidth,
  //  color: this.mapStyling.activeColour,
  //  dashArray: ""
  //})
  target.bringToFront()
  this.currentItem = target
  let dataIdField = this.colouringData.polygonIdField
  let polygonIdField = this.polygonData.polygonIdField
  this.currentItem = {...target.feature.properties, ...getMatch(dataIdField,
                              target.feature.properties[polygonIdField],
                              this.cdata)}
  //console.log(this.currentItem)
}

function mouseout({target}) {
  target.setStyle(
    this.geojsonOptions.style(target.feature)
  )
  this.currentItem = null
}

function getMatch(id_col, id, data) {
  return data.find(y=> y[id_col] == id)
}

function getColour(dataValue, colours, min, max) {
  var value = (dataValue - min) / (max - min)
  return chroma.scale(colours)(value).hex()
}
</script>
