<template>
  <div>
    <div class="console" :id="'terminal-' + terminal.pid" ></div>
  </div>
</template>
<script>
import * as Terminal from 'xterm'
import 'xterm/dist/xterm.css'
import * as fit from 'xterm/dist/addons/fit/fit'

export default {
  name: 'Console',
  props : {
    terminal: Object,
    scriptData: Array,
    printingText: Boolean,
  },
  data () {
    return {
      term: null,
      wdth: null,
      goto: null,
      block: 0,
      element: 0,
      writing: false
    }
  },
  methods: {
    /*writeAll: async function() {
      for (let block of this.scriptData) {
        if (block) {
          for (let element of block) {
            //await sleep(element.timeDelay*1000);
            //this.term.write(element.text)
            await this.writeOne()
          }
        } else {
          //console.log('missing a block')
        }
      }
    },*/
    locateMany : async function () {
      while (this.element < this.goto) {
        await this.writeOne()
      }
    },
    locate : async function () {
      let target = this.element +20
      while (this.element < target) {
        await this.writeOne()
      }
    },
    writeOne: async function () {
      this.writing = true
      let phrase = this.scriptData[this.block][this.element]
      //console.log(this.block, this.element)
      await sleep(phrase.timeDelay*1000);
      this.term.write(phrase.text)
      this.element = (this.element + 1) % this.scriptData[this.block].length
      if (this.element==0) {
        this.block = (this.block + 1 ) % this.scriptData.length
      }
      this.writing = false
    }
  },
  watch: {
    scriptData: {
      immediate: true,
      //eslint-disable-next-line
      handler (oldVal, newVal) {
      }
    },
    printingText: {
      immediate: true,
      //eslint-disable-next-line
      handler (oldVal ,newVal) {
      }
    }
  },
  mounted () {
    let terminalContainer = document.getElementById('terminal-' + this.terminal.pid)
    this.term = new Terminal.Terminal({
      cursorBlink: true,
    })
    this.term.open(terminalContainer)
    this.term._initialized = true
    //terminalContainer.style.width = '735px';
    //terminalContainer.style.height = height;

    fit.fit(this.term)
    if (this.term.cols < 80) {
        this.term.resize(40,22)
        terminalContainer.style.width = '350px';
    } else {
        this.term.resize(80,22)
        terminalContainer.style.width = '735px';
    }
    terminalContainer.style.display = 'inline-block';
    this.$nextTick(
      async function () {
        //eslint-disable-next-line
        await sleep(3000)
        while (true) {
          if (true | this.printingText) {
            await this.writeOne()
          }
        }
      }
    )
  },
  beforeDestroy () {
    this.term.destroy()
  }
}

function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms))
}
</script>

<style scoped>
div .console {
/*  display: inline-block*/
}

</style>
