<template>
  <div class="widget" style="height: 90% width: 80%">
    <l-choropleth-map v-if="loaded"
      :baseMapConfig="baseMapConfig"
      :polygonData="polygonData"
      :cdata="cdata"
      :colouringData="colouringData"
      :mapStyling="mapStyling"
      :infoData="infoData"
      style="height: 100%"/>
  </div>
</template>

<script>
import sa4data from '../../data/sa4_2016.json'
import axios from "axios";
import LChoroMap from "./ChoroplethMap";

export default {
  name: 'DataMapping',
  components: {
    'l-choropleth-map': LChoroMap,
  },
  props: {
  },
  data () {
    return {
      infoData: {
        name: "SA4_NAME16",
        measure: {
          measure: "age",
          field: "median_age",
          metric: "years",
	},
        title: "median age at death",
	extra: [
          /*//{
          //  measure: "Location",
          //  field: "SA4_NAME16",
          //  metric: ""
          //},*/
        ]
      },
      loaded: false,
      baseMapConfig: {
        tileUrl: 'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
        zoom: 6.0 ,
        attribution: "Mortality data <a href=\"https://www.aihw.gov.au/reports/life-expectancy-death/mort-books/contents/mort-books\">AIHW</a> <a href=\"https://creativecommons.org/licenses/by/3.0/au/\">CC-BY</a> Map data &copy; <a href=\"https://www.openstreetmap.org/\">OpenStreetMap</a> contributors, <a href=\"https://creativecommons.org/licenses/by-sa/2.0/\">CC-BY-SA</a>",
        mapOptions: {
          attributionControl: false
        },
        center: [-37.8, 144.9]}
      ,
      polygonData: {
        geojson: sa4data,
        polygonIdField: "SA4_CODE16"
      },
      cdata: null,
      colouringData: {
        polygonIdField: "SA4_CODE16",
        colourField: "median_age"
      },
      mapStyling: {
        colours: 'Spectral',
        passiveStrokeWidth: 2,
        activeStrokeWidth: 3,
        activeColour: "yellow",
        //min: 75,
        //max: 85
      },
    }
  },
  mounted() {
    this.get_data()
  },
  methods: {
    get_data: function() {
      this.loaded = false;
      axios
        .get(
	"https://data.gov.au/data/api/3/action/datastore_search_sql?sql=SELECT mort, median_age, population from \"a5de4e7e-d062-4356-9d1b-39f44b1961dc\" WHERE category = 'Statistical Area Level 4 (SA4)' AND \"SEX\" = 'Persons' AND \"YEAR\" = '2016'")
        .then(mortdata => {
          this.cdata = mortdata.data.result.records
          this.cdata.forEach(item => item['SA4_CODE16'] = item['mort'].substring(3,6));
          this.cdata.forEach(item => item['median_age'] = parseFloat(item['median_age']));
          this.loaded = true;
          return this.cdata
        });
    },
  }
}
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.widget {
  height: 60vh;
}
</style>
