<template>
 <div class="hello">
    <div id="console-container">
      <Console :terminal="terminal" :scriptData="scriptData" :printingText="loaded"></Console>
    </div>
  </div>
</template>

<script>
import { isMobile } from 'mobile-device-detect';
import Console from './Console'
//import longScriptData from '../../data/long.json'
//import psqlScriptData from '../../data/psqlFixed.json'
//import npmScriptData from '../../data/npm.json'
import axios from 'axios'
//import littleScriptData from '../../data/test.json'

export default {
  name: 'FrontBack',
  props: {
  },
  components: {
    Console: Console
  },
  data () {
    return {
      scriptData: [],
      loaded: false,
      terminal: {
        pid: 2469,
        name: 'terminal ' + 2469,
        cols: isMobile ? 40 : 80,
        rows: 25
      }
    }
  },
  mounted () {
    this.getScriptData();
  },
  methods: {
    getScriptData: function() {
    this.loaded = false;
    if (isMobile) {
      this.scriptData = [null,null];
      axios.get('npm.json').then(data => {this.scriptData[0] = data.data})
        .get('psqlFixed.json').then(data => {this.scriptData[1] = data.data; this.loaded = true});
    } else {
      axios.get('npm.json').then(data => {this.scriptData[0] = data.data})
        .get('psqlFixed.json').then(data => {this.scriptData[1] = data.data; this.loaded = true});
      //this.scriptData = [null];
      //axios.get('long.json').then(data => {this.scriptData[0] = data.data; this.loaded = true});
    }
    }
  }
}
//this.$refs.term.$stream.pipe(this.$refs.term.$stream)
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
