<template>
  <div />    
</template>

<script>
const L = require('../../node_modules/leaflet')

export default {
  props: {
    item: Object,
    measure: Object,
    printed: Array,
    unit: String,
    placeholder: {
      type: String,
      default: ""
    },
    name: String,
    title: String,
    position: {
      type: String,
      default: "bottomleft"
    }
  },
  data() {
    return {
      print: this.printed,
      meas: this.measure,
      nm: this.name
    }
  },
  mounted() {
    const { unit, title, placeholder, position, meas, print } = this

    this.mapObject = L.control({
      position: position
    })
    //eslint-disable-next-line
    this.mapObject.onAdd = function(map) {
      this._div = L.DomUtil.create("div", "info") // create a div with a class "info"
      this.update({ name: "", /*value: 0,*/ unit, placeholder, title })
      return this._div
    }
    this.mapObject.update = function(a) {
/*      a.name,
      dataitems,
//      value,
//      extraValues = undefined,
      unit,
      title,
      placeholder
    })*/
      let html = ''
      if (a.name) {
         let value = (a[meas.field] != undefined) ? a[meas.field] + ' ' + meas.metric : 'No data'
         html = `<h4> ${a.title} </h4>
          <table>
            <tbody> 
             <!-- <tr>
                <td>${a.name} </td>
              </tr>-->
              <tr>
                <td style="font-weight:bold">${meas.measure}: </td>
                <td>${value}</td>
              </tr>`
        if (print) {
          for (let x of print) {
            let value2 = (a[x.field] != undefined) ? a[x.field] + ' ' + x.metric : 'No data'
            html = html + `
               <tr>
                 <td style="font-weight:bold">${x.measure}</td>
                 <td>${value2}</td>
               </tr>`
          }
        html = html + `
            </tbody>
          </table>`
        }
      } else {
        html = `<h4> ${a.title} </h4> <b> ${a.placeholder} </b>`
      }
      this._div.innerHTML = html
    }

    if (this.$parent._isMounted) {
      this.deferredMountedTo(this.$parent.mapObject)
    }
  },
  methods: {
    deferredMountedTo(parent) {
      this.parent = parent
      this.mapObject.addTo(parent)
    }
  },
  watch: {
    item: function(newValue) {
      if (newValue) {
        this.mapObject.update({
          ...newValue,
          name: newValue[this.nm],
          unit: this.unit,
          title: newValue[this.nm],
          placeholder: this.placeholder
        })
      } else {
        this.mapObject.update({
          name: "",
          unit: this.unit,
          title: this.title,
          placeholder: this.placeholder
        })
      }
    }
  },
  beforeDestroy() {
    if (this.parent) {
      this.parent.removeLayer(this.mapObject)
    }
  }
//
}
</script>
<style>
.info {
  padding: 6px 8px;
  font: 18px/20px sans-serif;
  text-align: left;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}
</style>
