<template>
  <div class="widget">
    <h1>{{ msg }}</h1>
    <h3>{{plotText}}</h3>
    <div class="clicker" v-on:click="animatePlot">{{state.hidden ? 'Reveal': 'Hide'}}</div>
    <div id="statsChart" style="height: 50vh"></div>
  </div>
</template>
<script>
var Plotly = require("plotly.js/dist/plotly-basic")

import stats from "@/components/Statistics"

export default {
  name: 'MachineStats',
  props: {
    msg: String
  },
  components: {
  },
  methods: {
    generateData: function () {
      Object.assign(this,
                    this[this.mode]().generate(this));
    },
    updatePlotData: function() {
      Object.assign(this,
                    this[this.mode]().update(this));
    },
    simpsons: function () {
      return {
        generate: function (state) {
          let nGroups = state.nSimpsonsGroups
          var groupData = [];
          var allPoints = [];
          for (var i=0; i < nGroups; i++) {
            let n=30; let x0=i/2;let x1=i/2+3;let c=20-5*i;let m=2+0.3*stats.randomNormal();
            let xstddev=2.;let ystddev=1;
            var points = stats.generateLine(n, x0, x1, c, m, xstddev, ystddev);
            allPoints = allPoints.concat(points)
            var colour = "hsla(" + 360.0*i/nGroups + ",100%, 50%,0.8)";
            var altColour = "hsla(" + 360.0*i/nGroups + ",100%, 50%,0.0)";
            var size = 10;
            groupData.push({
              x: points.map(a => a[0]),
              y: points.map(a => a[1]),
              type: "scatter",
              mode: 'markers',
              hoverinfo: 'skip',
              marker: {
                altColor: points.map(()=>colour),
                color: points.map(()=>altColour),
                size: points.map(()=>size)
                },
            })
            altColour = "hsla(" + 360.0*i/nGroups + ",100%, 30%,0.8)";
            colour = "hsla(" + 360.0*i/nGroups + ",100%, 30%,0.0)";
            let bestFitPoints = stats.computeBestFit({points}, 1).bestFitPoints._data
            groupData.push({
              x: bestFitPoints.map(a => a[0]),
              y: bestFitPoints.map(a => a[1]),
              type: "scatter",
              mode: 'lines',
              hoverinfo: 'skip',
              line: {
                altColor: altColour,
                color: colour,
              },
            })
          }
          groupData.push({
            x: allPoints.map(a => a[0]),
            y: allPoints.map(a => a[1]),
            type: "scatter",
            mode: 'markers',
            hoverinfo: 'skip',
            marker: {
              altColor: allPoints.map(()=>'hsla(0,0%, 20%, 0.0)'),
              color: allPoints.map(()=>'hsla(0,0%, 20%, 0.8)'),
              size: allPoints.map(()=>size)
              }
          })
          let bestFitPoints = stats.computeBestFit({points: allPoints}, 1).bestFitPoints._data
          groupData.push({
            x: bestFitPoints.map(a => a[0]),
            y: bestFitPoints.map(a => a[1]),
            type: "scatter",
            mode: 'lines',
            hoverinfo: 'skip',
            line: {
              altColor: 'hsla(0,0%, 10%, 0.0)',
              color: 'hsla(0,0%, 10%, 0.8)',
            },
          })
          let hiddenText = 'Negative trend identified in observational data'
          return {
            data: groupData,
            state: {
              plotText: hiddenText,
              hidden: true,
              groupData,
            }
          }
        },
        update: function(state) {
          state.state.hidden = !state.state.hidden
          for (let pointSet of state.data) {
            if ('marker' in pointSet) {
              let altColor = pointSet.marker.color
              pointSet.marker.color = pointSet.marker.altColor
              pointSet.marker.altColor = altColor
            }
            if ('line' in pointSet) {
              let altColor = pointSet.line.color
              pointSet.line.color = pointSet.line.altColor
              pointSet.line.altColor = altColor
            }
          }
          //if (state.hidden) {
          state.plotText = state.state.hidden ? 'Negative trend identified in observational data' : 'Unidentified groups reveal the true story';
          //}
          return state
        },
      }
    },
    animatePlot: function () {
      this.updatePlotData()
      let plot = document.getElementById('statsChart');
      Plotly.animate(plot, {data: this.data}, {
          transition: {
            duration: 500,
              //easing: 'cubic-in-out'
              easing: 'linear'
        },
        frame: {
          duration: 500,
          redraw: false
        }
      });
    }
  },
  data: function () {
    return {
        state: {hidden: true},
        data: null,
        plotText: 'Negative trend observed in historical data',
        nSimpsonsGroups: 5,
        layout: {
          showlegend: false,
        },
        options: {},
        mode: "simpsons"
      }
  },
  mounted: function() {
    this.generateData();
    let plot = document.getElementById('statsChart');
    Plotly.newPlot(plot, this.data, this.layout);
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.widget {
  height: 60vh;
}

div.clicker {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color:#333333;
  background-color:#AAAAAA;
  text-align:center;
  transition: all 0.2s;
  width: 100px;
  height: 30px
}
div.clicker:hover{
  color:#AAAAAA;
  background-color:#333333;
}
</style>

