<template>
  <div class="widget">
    <div class="clicker" v-on:click="startAnimation">{{haltAnimation ? "Start" : "Stop"}}</div>
    <div class="clicker" v-on:click="setupAnimation">{{"refresh"}}</div>
    <div id="physicsSim" style="height: 60vh"><!-- Plotly chart will be drawn inside this DIV --></div>
  </div>
</template>
<script>
//var plotly = require('plotly.js')
var Plotly = require("plotly.js/dist/plotly-basic")
//import VuePlotly from '@statnett/vue-plotly'

//import sim from '@/components/Whip'
import sim from "@/components/Charges"

export default {
  name: 'MathModel',
  props: {
  },
  components: {
    //sim
  },
  data: function () {
    return {
      haltAnimation: true,
      state: null,
      data: null,
      layout: null,
      options: null
    }
  },
  mounted: function() {
    this.setupAnimation();
  },
  methods: {
    startAnimation: function () {
      this.haltAnimation = !this.haltAnimation;
      this.animatePlot();
    },
    stopAnimation () {
      this.haltAnimation = true;
    },
    animatePlot: function () {
      if (this.haltAnimation) {
        return
      } else {
        sim.time_step(this.state, 0.01);
        this.data = {
          data: [{
            x: this.state.pos._data.map(a => a[0]),
            y: this.state.pos._data.map(a => a[1]),
            type: "scatter",
            mode: 'markers'
            }],
          layout: this.data.layout,
          options: this.data.options
        };

        Plotly.animate('physicsSim', this.data, {
            transition: {
              duration: 5,
                //easing: 'cubic-in-out'
                easing: 'linear'
          },
          frame: {
            duration: 5,
            redraw: false
          }
        });
        requestAnimationFrame(this.animatePlot)
      }
    },
    prepareState () {
      var result = {
        colours:  [],
        sizes: [],
        state: sim.generate_state(5)
      }
      for (let i = 0;  i < result.state.charge.size()[0]; i++){
        let charge = result.state.charge._data[i]
        let colour = ""
        if (charge < -1) {
          colour = "rgba(204,0,0,1)"
        } else if (charge < 0) {
          colour = "rgba(150,100,0,1)"
        } else if (charge < 2) {
          colour = "rgba(100,150,0,1)"
        } else  {
          colour = "rgba(0,204,0,1)"
        }
        let size = result.state.mass._data[i][0]*20
        result.colours.push(colour);
        result.sizes.push(size);
      }
      return result
    },
    prepareAnimationData () {
      var {state, colours, sizes} = this.prepareState();
      this.state = state
      this.data  = [{
        x: state.pos._data.map(a => a[0]),
        y: state.pos._data.map(a => a[1]),
        type: "scatter",
        mode: 'markers',
        hoverinfo: 'skip',
        marker: {
          color: colours,
          size: sizes
        }
      }];
      this.layout = {
        xaxis: {range: [-10, 10], autorange: false, zeroline: false, showgrid: false, showticklabels: false},
        yaxis: {range: [-10, 10], autorange: false, zeroline: false, showgrid: false, showticklabels: false},
        margin: {
          l: 30,
          r: 30,
          b: 30,
          t: 30,
          pad: 0
        },
	plot_bgcolor: '#444',
	paper_bgcolor: '#eee',
      }
      this.options = {
      responsive: true
      };
    },
    setupAnimation: function() {
      this.prepareAnimationData();
      Plotly.newPlot('physicsSim', this.data, this.layout);
    },
  },
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

div.clicker {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color:#333333;
  background-color:#AAAAAA;
  text-align:center;
  transition: all 0.2s;
  width: 100px;
  height: 30px
}
div.clicker:hover{
  color:#AAAAAA;
  background-color:#333333;
}

h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.widget {
  height: 60vh;
}
</style>

