<template>
  <div id="app" >
    <h2>Dr Michael Couch</h2>
    <tabs :tabs="tabs"
          :currentTab="currentTab"
          :wrapper-class="'default-tabs'"
          :tab-class="'default-tabs__item'"
          :tab-active-class="'default-tabs__item_active'"
          :line-class="'default-tabs__active-line'"
          @onClick="handleClick"
    />
    <div class="content">
      <css-grid
        :columns="currentGrid.columns"
        :rows="currentGrid.rows"
        :areas="currentGrid.areas">
        <css-grid-item area="message">
          <div><p class="story">{{messages[currentTab]}}</p></div>
        </css-grid-item>
        <css-grid-item area="widg">
          <router-view></router-view>
        </css-grid-item>
        <viewport-listener v-model="viewport"/>
      </css-grid>
    </div>
  </div>
</template>

<script>
import Tabs from 'vue-tabs-with-active-line'
import { isMobile } from 'mobile-device-detect';
import router from '@/router'
import { CssGrid, CssGridItem, ViewportListener } from 'vue-css-grid'

export default {
  name: 'app',
  props: {
  },
  components: {
    'css-grid': CssGrid,
    'css-grid-item': CssGridItem,
    'viewport-listener': ViewportListener,
    Tabs
  },
  data: () => ({
    tabs: [
      {title: isMobile ? 'stat' : 'machine learning & statistics', value: 'stat' },
      {title: isMobile ? 'math' : 'mathematics & modelling', value: 'math' },
      {title: isMobile ? 'tech' : 'front-end & back-end', value: 'tech' },
      {title: isMobile ? 'data' : 'data & mapping', value: 'data' },
    ],
    currentTab: 'stat',
    messages:  {
      'stat': "Does data hide its secrets?",
      'tech': "Multiple technologies will be used",
      'math': "Exploration through modelling guides thought",
      'data': "But the right visualization will spark public discussion",
    },
    viewport: {width: 320, height: 568},
    desktopGrid: {
      columns: ['50%', '50%'],
      rows: ['30%', 'auto', '30%'],
      areas: [
        ['spacetop', 'widg'],
        ['message', 'widg'],
        ['spacebot', 'widg'],
      ]
    },
    // 2x4 grid
    tabletGrid: {
      columns: ['30%', 'auto'],
      rows: ['150px', '400px', 'auto', '100px'],
      areas: [
        ['title', 'title'],
        ['leftbar', 'main'],
        ['rightbar', 'main'],
        ['footer', 'footer']
      ]
    },
    // 1x5 grid
    mobileGrid: {
      columns: ['100%'],
      rows: [
        '100px',
        '100px',
      ],
      areas: [
        ['message'],
        ['widg'],
      ]
    },
  }),
  mounted () {
    router.push(this.currentTab)
  },
  methods: {
    handleClick(newTab) {
      this.currentTab = newTab
      router.push(this.currentTab);
    }
  },
  computed: {
    // change Layout according to the viewport size
    currentGrid () {
      if (this.viewport.isDesktop ||
        this.viewport.isLargeDesktop) {
        return this.desktopGrid
      }
      if (this.viewport.isTablet) {
        return this.tabletGrid
      }
      return this.mobileGrid
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 5vw;
  height: 80vh;
}

.content { 
  height: 80%
}

.story {
  text-align: center;
  font-size: 32pt;
}

.tabs {
  position: relative;
  margin: 0 auto;
}

.tabs__item {
  display: inline-block;
  margin: 0 5px;
  padding: 10px;
  padding-bottom: 8px;
  font-size: 16px;
  letter-spacing: 0.8px;
  color: gray;
  text-decoration: none;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: all 0.25s;
}

.tabs__item_active {
  color: black;
}

.tabs__item:hover {
  border-bottom: 2px solid gray;
  color: black;
}

.tabs__item:focus {
  outline: none;
  border-bottom: 2px solid gray;
  color: black;
}

.tabs__item:first-child {
  margin-left: 0;
}

.tabs__item:last-child {
  margin-right: 0;
}

.tabs__active-line {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: black;
  transition: transform 0.4s ease, width 0.4s ease;
}
</style>
